############################################### CUSTOM ###############################################
# System files
.DS_Store
# All files in docs folder except for the .tex and the pdf file
docs/*
!docs/*.tex
!docs/*.pdf
# VS Code settings
.vscode/
# IPYNB checkpoints
.ipynb_checkpoints/
# Claude settings
.claude/
# Exclude all csv files
*.csv
# Exclude neo4j dump
neo4j.dump
# Exclude all log files
*.log
